body {
 background-color: #f9f7fe;
 roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal
}
    .weather-app{
        background-color:white ;
        max-width: 600px;
        margin: 30px auto;
        padding: 30px;
        box-shadow:0 30px 50px rgba(65, 50, 100, 0.08) ;
        border-radius: 16px;
    }
      header{
        border-bottom: 1px, solid #f9f7fe;
        padding: 0 0 30px, 0;
      }
    .search-form-input {
        background-color: #f9f7fe;
        border: none;
        border-radius: 6px;
        width: 80%;
        padding: 15px, 20px;
        font-size: 16px;
    }
    a {
        color: #885df1;
    }
    .weather-app-city {
     margin: 0;
     font-size: 38px;
     line-height: 48px;
    }
    .weather-app-container{
        display: flex;
    }
    .weather-app-details{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color:rgba(39, 33, 66, 0.4) ;
    }
    .weather-app-details strong{
        color: #f65382;
    }
    .weather-app-temp{
        font-size: 88px;
    }
    .weather-app-icon{
        font-size:44px ;
        margin-top: 22px;
        margin-right: 1px;
    }
    .weather-app-unit{
     margin-top: 30px;
     font-size: 20px;
     margin-right: 10px;
    }
    .search-form-button {
        background:#885df1;
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        margin-left:8px ;
        border-radius: 8px;
        color: white;
    }
     main{
        padding: 30px 0;
     }
        .weather-app-data {
            display: flex;
            justify-content: space-between;
    
    }
    footer{
        border-top: 1px, solid #f9f7fe;
        padding:  30px 0 0 0;
        text-align: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);

      }